.balance {
  background-color: transparent;
}
.line_container {
  display: flex;
}
.left-container {
  width: 50%;
}
.recentTransationBox {
  width: 50%;
  height: 400px;
}
.contentTransation {
  margin: 0;
}
.recentTransationBox img {
  width: 60px;
}
table {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
td,
th {
  padding: 5px;
}
th {
  background-color: #00bbd495;
  color: #fff;
}
tr:nth-child(even) {
  background-color: #e4e3e3;
}
.sucess {
  color: rgb(3, 165, 3);
}
.danger {
  color: red;
}
@media screen and (max-width: 1200px) {
  .line_container {
    flex-direction: column;
  }
  .left-container {
    width: 100%;
  }
  .recentTransationBox {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  table {
    font-size: 13px;
  }
}
.btns {
  display: flex;
  margin: 20px 35%;
  width: 400px;
}
.arrow-btn {
  border-radius: 300px;
  background-color: #fff;
  width: 80px;
  height: 40px;
  margin: 0 5px;
}
.btn-number {
  border-radius: 300px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in;
}
.btn-number:hover {
  background-color: #00bbd495;
  color: #fff;
  border: none;
}
@media screen and (max-width: 1200px) {
  .btns {
    margin: 20px 25%;
  }
}
