/*shayan*/
.call-us-container {
  background: #a8dadb;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 210px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.call-us-container > h2 {
  color: #1e325d;
  font-size: 20px;
}
.call-us-container p {
  font-size: 15px;
  font-weight: 700;
}
.call-us-container span {
  color: #465e80;
}
.call-us-contact-info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.call-us-contact-info a {
  padding: 10px 15px;
  border: 1px solid white;
  color: white !important;
  border-radius: 50px;
  font-weight: 700;
  font-size: 15px;
}
/*shayan*/
