* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.exchange-rate {
  background: #a8dadc;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000002e;
  padding: 20px;
}
.exchange-title {
  font-weight: 900;
  color: #1d3557;
}
.country-flag-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.country-flag-desc {
  display: flex;
  align-items: center;
}
.country-flag-desc > div {
  margin: 0px 10px;
}
.country-flag-desc > div:nth-child(2) {
  margin-right: 0px !important;
}
.country-flag-and-desc {
  display: flex;
  align-items: center;
}
.country-flag-and-desc > div {
  margin: 0px 5px;
}
.country-flag-and-desc > div:nth-child(1) {
  margin-left: 0px !important;
}
.rates-wrapper {
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.37);
}
.country-name {
  color: #1d3557;
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 2px;
}
.country-cash-count {
  font-size: 0.9rem;
  color: #717275;
}
.desc-type {
  color: #717275;
  font-size: 0.8rem;
  font-weight: 100;
  margin-bottom: 2px;
}
.desc-type-price {
  color: #1d3557;
  font-size: 1rem;
  font-weight: 600;
}
.exchange-rate > .rates-wrapper:last-child {
  border-bottom: none;
}
