.main-column > div {
  margin-bottom: 20px;
  /* border: 1px solid #000; */
}
.exchange-rate {
  background: #a8dadc;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000002e;
  padding: 20px;
}
.exchange-title {
  font-weight: 900;
  color: #1d3557;
}
.country-flag-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.country-flag-desc {
  display: flex;
  align-items: center;
}
.country-flag-desc > div {
  margin: 0px 10px;
}
.country-flag-desc > div:nth-child(2) {
  margin-right: 0px !important;
}
.country-flag-and-desc {
  display: flex;
  align-items: center;
}
.country-flag-and-desc > div {
  margin: 0px 5px;
}
.country-flag-and-desc > div:nth-child(1) {
  margin-left: 0px !important;
}
.rates-wrapper {
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.37);
}
.country-name {
  color: #1d3557;
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 2px;
}
.country-cash-count {
  font-size: 0.9rem;
  color: #717275;
}
.desc-type {
  color: #717275;
  font-size: 0.8rem;
  font-weight: 100;
  margin-bottom: 2px;
}
.desc-type-price {
  color: #1d3557;
  font-size: 1rem;
  font-weight: 600;
}
.exchange-rate > .rates-wrapper:last-child {
  border-bottom: none;
}

.profile {
  background-color: #ffff;
  border-radius: 10px;
  padding-top: 2.5%;
}
.profile-svg {
  position: relative;
  padding-left: 23%;
  padding-top: 18%;
}

.profile-imags {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: relative;
  left: 33%;
}

.profile-information {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
  padding-top: 2%;
}
.profile-information-1 {
  display: flex;
  font-family: "Inter";
  padding: 0 10px;
}
.profile-name {
  font-weight: 600;
}

.profile-information-2 {
  font-family: "Inter";
  display: flex;
  color: #717275;
  padding-left: 5%;
  font-size: 18px;
}
.profile-type {
  margin-bottom: 5px;
  margin-top: 5px;
}
<<<<<<< HEAD
/* section > Your Balance  */
.card-Balance {
  width: 100%;
  height: 200px;
  background-color: rgb(234, 252, 220);
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.balance h2 {
  font-size: 14px;
  color: #888;
}

.balance h1 {
  font-size: 36px;
  margin-top: 5px;
  font-weight: bold;
  color: #0e1a2b;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.card-details p {
  font-size: 14px;
  color: #555;
}
.card-holder p {
  font-size: 14px;
  color: #000000;
  margin-top: -10px;
}
.valid-date p {
  font-size: 14px;
  color: #000000;
  margin-top: -10px;
}
.logo {
  position: absolute;
  top: -50px;
  right: -15px;
  display: flex;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.red {
  background-color: #ff4e42;
}

.orange {
  background-color: #ffa500;
  position: absolute;
  width: 130px;
  height: 130px;
  right: -2px;
  top: 1px;
}
.valid-card-holder {
  display: flex;
  justify-content: space-between;
}
=======



 
.recentTransationBox{
  background-color:var(--secondary-color);
 display:flex;
 flex-direction:column;
  text-align:center;
  align-items:center;
  padding:1rem;
  height:auto;
}

.recentTransationBox h2{
 font-size: 3rem;
   font-weight: bolder;
   color: var(--heading-color);
 margin:1.5rem;
}
.contentTransation{
 display:flex;
 width:100%;
 margin:1rem auto;
   
}
.leftTransationBox{
  width: 20%;
}
.leftTransationBox img {
 float: left;
   height: 100%;
  width:100%;
   border-radius: 5rem;
 padding:1rem;
}
.rightTransationBox{
 display: grid;
 width:80%;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 1rem;
 text-align:center;
 align-items:center;
 padding:1rem;
 
}
.rightTransationBox span{
 padding:5px;
 font-size:2.5rem;
 text-align:left;
 align-items:center;
 
}
.contentTransation:last-child{
border-bottom: 1px solid gray;
}
.text-color{
 color:var(--p-color);
}

.dark-color{
 color:var(--dark-color);
}
.alarm-color{
 color:var(--primary-bg-color);
 font-weight:bolder;
}
.green-color{
 color: green;
 font-weight:bolder;
}
.hr1{
 background-color:var(--p-color);
 border:1px solid    var( --p-color);
 width:90%;
 margin:5px;
 height:0.5px;
}
.btnRecent{
 background-color:var(--custom-btn-bg-color);
 border-radius:10px;
 width:70%;
 display:block;
 color:white;
 font-weight:bolder;
 padding:5px;
}
.circle{
 height:2rem;
 width:2rem;
 background-color:var(--custom-btn-bg-color);
 border-radius:50%;
}
.btnRecent:hover{
 color:var(--custom-btn-bg-hover-color);
}
@media (max-width:480px){
 .leftTransationBox{
  width: 15%;
}
 .leftTransationBox img {
   height: 50%;
  width:50%;
}

.rightTransationBox span,.btnRecent{
 font-size:0.5rem;
}
}
@media (min-width: 768px) {
 .rightTransationBox span,.btnRecent{
 font-size:2.5rem;
 
} 
}

@media (max-width: 992px) {
  .rightTransationBox span,.btnRecent{
 font-size:2rem;
 
}
}
>>>>>>> 14ee2e199bed3ee69f33fa7dec8fcdbd8bff5d56
