.header-search {
  width: 50%;
}
.form-search {
  border-radius: 3rem;
  border: 1px solid gainsboro;
  width: 70%;
  padding: 10px;
}

.header-bell,
.header-3dots {
  width: 1.5rem;
  margin-right: 1rem;
}

.header-profile {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  object-fit: cover;
}
@media (max-width: 760px) {
  .header-bell,
  .header-3dots,
  .header-profile {
    display: none;
  }
}
.main-column > div {
  margin-bottom: 20px;
}
.exchange-rate {
  background: #a8dadc;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #0000002e;
  padding: 20px;
}
.exchange-title {
  font-weight: 900;
  color: #1d3557;
}
.country-flag-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.country-flag-desc {
  display: flex;
  align-items: center;
}
.country-flag-desc > div {
  margin: 0px 10px;
}
.country-flag-desc > div:nth-child(2) {
  margin-right: 0px !important;
}
.country-flag-and-desc {
  display: flex;
  align-items: center;
}
.country-flag-and-desc > div {
  margin: 0px 5px;
}
.country-flag-and-desc > div:nth-child(1) {
  margin-left: 0px !important;
}
.rates-wrapper {
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.37);
}
.country-name {
  color: #1d3557;
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 2px;
}
.country-cash-count {
  font-size: 0.9rem;
  color: #717275;
}
.desc-type {
  color: #717275;
  font-size: 0.8rem;
  font-weight: 100;
  margin-bottom: 2px;
}
.desc-type-price {
  color: #1d3557;
  font-size: 1rem;
  font-weight: 600;
}
.exchange-rate > .rates-wrapper:last-child {
  border-bottom: none;
}

.profile {
  background-color: #ffff;
  border-radius: 10px;
  padding-top: 2.5%;
}
.profile-svg {
  position: relative;
  padding-left: 23%;
  padding-top: 18%;
}

.profile-imags {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: relative;
  left: 33%;
}

.profile-information {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
  padding-top: 2%;
}
.profile-information-1 {
  display: flex;
  font-family: "Inter";
  padding: 0 10px;
}
.profile-name {
  font-weight: 600;
}

.profile-information-2 {
  font-family: "Inter";
  display: flex;
  color: #717275;
  padding-left: 5%;
  font-size: 18px;
}
.profile-type {
  margin-bottom: 5px;
  margin-top: 5px;
}

.recentTransationBox {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 15px 3px;
  overflow: hidden;
  border-radius: 1rem;
}

.recentTransationBox h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--heading-color);
  margin: 1.5rem;
}
.contentTransation {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 1rem auto;
}

.leftTransationBox {
  width: 20%;
}

.leftTransationBox img {
  width: 100%;
  border-radius: 50%;
  object-fit: fill;
}

.rightTransationBox {
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.rightTransationBox span {
  padding: 5px;
  font-size: 0.6rem;
  text-align: left;
  align-items: center;
}

.contentTransation:last-child {
  border-bottom: 1px solid gray;
}

.text-color {
  color: var(--p-color);
}

.dark-color {
  color: var(--dark-color);
}

.alarm-color {
  color: var(--primary-bg-color);
  font-weight: bolder;
}

.green-color {
  color: green;
  font-weight: bolder;
}
.hr1 {
  background-color: var(--p-color);
  border: 1px solid var(--p-color);
  width: 90%;
  margin: 5px;
  height: 0.5px;
}
.btnRecent {
  background-color: var(--custom-btn-bg-color);
  border-radius: 10px;
  width: 70%;
  display: block;
  color: white;
  font-weight: bolder;
  padding: 5px;
  font-size: 0.7rem;
  margin-bottom: 20px;
  text-decoration: none;
}
.circle {
  height: 2rem;
  width: 2rem;
  background-color: var(--custom-btn-bg-color);
  border-radius: 50%;
}
.btnRecent:hover {
  color: var(--custom-btn-bg-hover-color);
}

@media (max-width: 480px) {
  .leftTransationBox {
    width: 15%;
  }
  .leftTransationBox img {
    height: 50%;
    width: 50%;
  }

  .rightTransationBox span,
  .btnRecent {
    font-size: 0.5rem;
  }
}
@media (min-width: 768px) {
  .rightTransationBox span,
  .btnRecent {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 992px) {
  .rightTransationBox span,
  .btnRecent {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 992px) {
  .rightTransationBox span,
  .btnRecent {
    font-size: 0.7rem;
  }
  .leftTransationBox img {
    width: 80%;
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .rightTransationBox span,
  .btnRecent {
    font-size: 0.75rem;
  }
}

.card-Balance {
  width: 100%;
  height: 200px;
  background-color: rgb(234, 252, 220);
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.balance h2 {
  font-size: 14px;
  color: #888;
}

.balance h1 {
  font-size: 36px;
  margin-top: 5px;
  font-weight: bold;
  color: #0e1a2b;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.card-details p {
  font-size: 14px;
  color: #555;
}
.card-holder p {
  font-size: 14px;
  color: #000000;
  margin-top: -10px;
}
.valid-date p {
  font-size: 14px;
  color: #000000;
  margin-top: -10px;
}
.logo {
  position: absolute;
  top: -50px;
  right: -15px;
  display: flex;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.red {
  background-color: #ff4e42;
}

.orange {
  background-color: #ffa500;
  position: absolute;
  width: 130px;
  height: 130px;
  right: -2px;
  top: 1px;
}
.valid-card-holder {
  display: flex;
  justify-content: space-between;
}
/*shayan*/
.src-content-container {
  width: 100%;
  height: 220px;
  background-color: #a8dadc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin: 10px auto;
}
.src-content-box {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #737d8e;
  align-items: center;
}
.src-content-box > div:nth-child(1) > img {
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
}
.src-content-box > div:nth-child(2) {
  font-size: 20px;
  font-weight: 900;
}
.send-money-container {
  background-color: #ff4e4e;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.send-money-wraper {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.send-money-head {
  color: white;
  background-color: blue;
  font-size: 20px;
  font-weight: 700;
  width: 210px;
}
.send-money-content-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 15px;
}
.send-money-content-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  color: #737d8e;
  margin: 10px;
}
.send-money-content-box > div:nth-child(1) {
  width: 100%;
  height: 80%;
  object-fit: cover;
  background-color: white;
  border-radius: 20px;
}
.send-money-content-box > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
  border-radius: 20px;
}
.sum > div {
  background-color: white;
  font-size: 50px;
  color: #ff4e4e;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
